{{>layout/header}}

<main class="content">
    <h2>Hier etwas Info über uns!</h2>

    <p><strong>Class-Fee</strong> ist eine studentische Webplattform, die im Rahmen des Moduls <strong>„Projekt A“</strong> an der HAW Hamburg entstanden ist. </p>
    <p>Der Fokus liegt auf dem Teilmodul <strong>„Angewandte Programmierung“</strong>.</p>
    <p>Unser Ziel ist es, Studierenden eine einfache Möglichkeit zu geben, strukturiertes und ehrliches Feedback zu Lehrveranstaltungen zu hinterlassen –
        entweder <strong>namentlich</strong> oder auf Wunsch vollständig <strong>anonym</strong>.</p>
    <p>Das Projekt wurde im Sommersemester 2025 im Rahmen des Studiengangs <strong>Bachelor Media Systems</strong> realisiert.</p>
    <p>Es stellt sowohl die technische Anwendung als auch die Umsetzung einer offenen Feedbackkultur in den Mittelpunkt.</p>

    <p><strong>Projektteam:</strong><br><br>
        • Nozimjon Isroilov<br>
        • Basir Massomi<br>
    </p>

    <p><a href="/">Zurück zur Startseite</a></p>
</main>






{{>layout/footer}}