{{>layout/header}}

<div class="container">
    <main class="content">
        <h1>Willkommen bei Class-Fee!</h1>

        <h2>Neueste Feedbacks:</h2>
        <ul>
             {{#latestFeedbacks}}
<!--                <li><strong>{{author}}</strong>: {{content}}</li>-->
                 <p>
                    <strong>{{author}}</strong> schrieb am {{createdAt}} zu <strong><em>{{moduleName}}</em></strong><br><br>
                    {{content}}
                 </p>
             {{/latestFeedbacks}}



        </ul>


    </main>
</div>

{{>layout/footer}}