{{>layout/header}}

<main class="content">

    <h2>Module</h2>

    <p>Hier findest du alle Informationen zu den Modulen.</p>

    <h3>Fächerübersicht</h3>

    <div class="kachel-grid">
        <a href="./mathe1" class="kachel">Mathe 1</a>
        <a href="./informatik1" class="kachel">Informatik 1</a>
        <a href="./media_game_design1" class="kachel">Media Game Design 1</a>
        <a href="./programmieren1" class="kachel">Programmieren 1</a>
        <a href="./medienrecht" class="kachel">Medienrecht</a>
        <a href="./dramaturgie1" class="kachel">Dramaturgie 1</a>
    </div>

</main>








{{>layout/footer}}